[submodule "PHP-HTML.mode"]
	path = PHP-HTML.mode
	url = git://github.com/bobthecow/PHP-HTML.mode.git
[submodule "Mustache.mode"]
	path = Mustache.mode
	url = git://github.com/bobthecow/Mustache.mode.git
[submodule "Markdown.mode"]
	path = Markdown.mode
	url = git://github.com/bobthecow/Markdown.mode.git
[submodule "YAML.mode"]
	path = YAML.mode
	url = git://github.com/bobthecow/YAML.mode.git
[submodule "Twig-HTML.mode"]
	path = Twig-HTML.mode
	url = git://github.com/bobthecow/Twig-HTML.mode.git
[submodule "Twig-JavaScript.mode"]
	path = Twig-JavaScript.mode
	url = git://github.com/bobthecow/Twig-JavaScript.mode.git
[submodule "Twig-XML.mode"]
	path = Twig-XML.mode
	url = git://github.com/bobthecow/Twig-XML.mode.git
[submodule "LESS.mode"]
	path = LESS.mode
	url = https://github.com/monoceroi/LESS.mode.git
